* {
	margin: 0;
	padding: 0;
}

#main {
	background-color: yellow;
	display: flex;
	justify-content: space-around;
}

#main_left {
	background-color: green;
	border-width: 1px; 

}

#main_right {
	background-color: blue;
	border-width: 1px; 
}

header {
	display: flex;
	justify-content: center;
}
