* {
	margin: 0;
	padding: 0;
}

#main {
	background-color: yellow;
	display: flex;
	justify-content: space-around;
}

#main_left {
	background-color: green;
	z-index: 999;
	border-width: 1px; 
	display: grid;
	grid-template-rows: 10% 90%;	
}

#main_right {
	background-color: blue;
	border-width: 1px; 
}

header {
	display: flex;
	justify-content: center;
}

.review {
	border-style: solid;
	border-width: 1px; 
}

body {
	display: grid;
	grid-template-rows: 10% auto 10%;
	height: 100vh;
}

.review_container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer; 
}

.overview {
	z-index: 998; 
	
}